body{
	font: 15px Verdana;
}
#center{
	width:450px;
	margin: 0 auto;
	vertical-align: middle;
	border: 1px solid;
	padding: 10px;
	border-radius: 15px;
}
td{
	padding: 10px;
}
td:first-child{
	padding-right: 10px;
	font-weight: bold;
}